version: "3.3"

services:
  bitcoin-devel:
    image: golang:latest
    container_name: bitcoin-devel-${USER}
    network_mode: "host"
    volumes:
      - "../:/root/go/src/gitlab.azbit.cn/web/bitcoin"
    working_dir: /root/go/src/gitlab.azbit.cn/web/bitcoin
    environment:
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/root/go/bin
    entrypoint:
      - bash
      - -c
      - make ${TARGET:-dev} MAIN_PKG=${MAIN_PKG:-bitcoin} ARG='${ARG}'
